<% unless logged_in? %>
  <p class="nav log">
    <%= link_to 'Log in', login_path %>
    <%= link_to 'Sign up', signup_path%>
  </p>
<% end %>

<% if logged_in? %>
  <div class="nav log"><%= button_to 'Log out', logout_path, method: :delete, data: {turbo: false} %> </div>

  <p><%= flash_message(:notice) %></p> 

  <p class="nav user">Welcome, 
    <b>
      <%= current_user.name %>
    </b>
    <%= link_to 'Guru', root_path %>
  </p>  
<% end %>