<nav class="navbar" style="background-color: #e3f2fd;">
  <%= link_to "Test Guru", root_path, class: 'navbar-brand px-4' %>

  <div class="d-flex me-auto mb-2 mb-lg-0">
    <% if user_signed_in? %>
      <div class="d-flex align-items-center">
        <%= link_to "My badges", badges_path, class: 'nav-link' %>
        <%= link_to "Contact Us", new_contact_form_path, class: 'nav-link ms-3' %>
      </div>
    <% end %>
  </div>

  <div class="navbar-text px-4">
    <% if user_signed_in? %>
      <%= t('.welcome') %> <b><%= current_user.first_name %></b>Guru! |
      <%= link_to t('nav_buttons.logout'), destroy_user_session_path, method: :delete, class: 'btn btn-outline-secondary btn-sm', data: { turbolinks: false } %>
    <% else %>
      <%= link_to "Sign in", new_session_path(resource_name) %> |
      <%= link_to "Sign up", new_registration_path(resource_name) %>
    <% end %>
  </div>
</nav>

