<p id="notice"><%= notice %></p>

 <p>
  <strong> Question: </strong>
  <br><%= @question.body %>
</p>

<p>
  <strong> Answer: </strong>
<br>
  <%= @answer.body %>
</p>

<%= link_to 'Edit', edit_admin_test_question_answer_path(@answer.question) %> |
<%= link_to 'Back', admin_test_question_path(@question.test, @question) %>
