<p id="notice"><%= notice %></p>

 <p>
  <strong> <%= t('.question') %>: </strong>
  <br><%= @question.body %>
</p>

<p>
  <strong> <%= t('.answer') %>: </strong>
<br>
  <%= @answer.body %>
</p>

<%= link_to t('nav_buttons.edit'), edit_admin_test_question_answer_path(@answer.question) %> |
<%= link_to t('nav_buttons.back'), admin_test_question_path(@question.test, @question) %>
