<h1><%= question_header(@question)%></h1>

<%= form_with model: [:admin, @test, @question] do |form| %>
<%= render 'shared/errors', resource: @question %>
<p>
  <%= form.label :body %><br>
  <%= form.text_area :body, id: :answer_id, rows: 4, cols: 30 %>
</p>

<p> <%= form.submit %> </p>

<% end %>