<h2><%= @test.title %></h2>

<div class="card card border-primary col-md-6">
  <div class="card-body">
    <%= form_with model: [:admin, @test] do |form| %>
      <%= render 'shared/errors', resource: @test %>
      <div class="form-group">
        <p class="col-md-6">
          <%= form.label :test_title %><br>
          <%= form.text_field :title, class: 'form-control' %>
        </p>
        <p class="col-md-2">
          <%= form.label :test_level %><br>
          <%= form.number_field :level, class: 'form-control' %>
        </p>
        <p class="form-group col-md-2">
          <%= form.label :category_id %><br>
          <%= form.collection_select :category_id, Category.all, :id, :title, 
          { prompt: t('helpers.select.prompt') }, class: 'form-control' %>
        </p>
        <p class="col-md-2">
          <%= form.label :test_timer, "Time Limit (minutes)" %><br>
          <%= form.number_field :timer, class: 'form-control', min: 0 %>
        </p>
      </div>
    <p> <%= form.submit class: "btn btn-outline-primary mt-2" %> </p>

    <% end %>
  </div>
</div>