<h2><%= t('.header') %></h2>

<p>
  <%= link_to t('.new_test'), new_admin_test_path, class: "btn btn-outline-primary btn-sm" %>
  <%= link_to t('.user_gists'), admin_gists_path, class: "btn btn-outline-primary btn-sm" %>
  <%= link_to "Badges", admin_badges_path, class: "btn btn-outline-primary btn-sm" %>
  </p>
<%= render 'shared/errors', resource: @test %>

<div class="mt-5">
  <h5><%= "Published tests" %></h5>
    <div>
      <table class="table table-hover table-bordered">
        <tr style="text-align: center;">
          <th class="sort-by-title pointer">
            <%= t('.title') %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th><%= t('.level') %></th>
          <th><%= t('.questions') %></th>
          <th><%= t('.time (mins)') %></th>
          <th colspan="4"><%= t('.actions') %></th>
        </tr>

        <%= render @tests.published_tests %>
      </table>
    </div>
</div>

<div class="mt-5">
  <h5><%= "Unpublished tests" %></h5>
    <div>
      <table class="table table-hover table-bordered">
        <tr style="text-align: center;">
          <th class="sort-by-title pointer">
            <%= t('.title') %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th><%= t('.level') %></th>
          <th><%= t('.questions') %></th>
          <th><%= t('.time (mins)') %></th>
          <th colspan="4"><%= t('.actions') %></th>
        </tr>

        <%= render @tests.unpublished_tests %>
      </table>
    </div>
</div>