<h1><%= t('.header') %></h1>

<%= form_with model: [:admin, @test] do |form| %>
<%= render 'shared/errors', resource: @test %>
<p>
  <%= form.label :test_title %><br>
  <%= form.text_field :title %>
</p>

<p>
  <%= form.label :test_level %><br>
  <%= form.number_field :level %>
</p>

<p>
  <%= form.label :category_id %><br>
  <%= form.collection_select :category_id, Category.all, :id, :title, 
                            prompt: t('helpers.select.prompt') %>
</p>

<p> <%= form.submit %> </p>

<% end %>

<%= link_to t('nav_buttons.back'), admin_tests_path %>
