<p>
  <strong><%= t('.test') %>: </strong>
  <%= @test.title %>
</p>

<p>
  <strong> <%= t('.level') %>: </strong>
  <%= test_level(@test) %>
</p>

<%= link_to t('.new_question'), new_admin_test_question_path(@test) %>

<p>
  <strong> 
    <%= t('.questions') %>: 
    <%= @test.questions.count %>
  </strong>
  
  <% @test.questions.each_with_index do |question, i| %>
    <br>
    <%= "#{i + 1}. #{question.body}" %>
  <% end %>
</p>

<%= link_to t('nav_buttons.edit'), edit_admin_test_path(@test) %> |
<%= link_to t('nav_buttons.back'), admin_tests_path %>