<p>
  <strong><%= t('.test') %>: </strong>
  <%= @test.title %>
</p>

<p>
  <strong> <%= t('.level') %>: </strong>
  <%= test_level(@test) %>
</p>

<div class="mb-4">
    <%= link_to t('.edit_test'), edit_admin_test_path(@test), class: "btn btn-outline-primary btn-sm" %>
  <%= link_to t('.new_question'), new_admin_test_question_path(@test), class: "btn btn-outline-primary btn-sm" %>
</div>

<div class="card">
  <div class="card-header">
    <strong><%= t('.questions') %>: <%= @test.questions.count %></strong>
  </div>
  <div class="card-body">
    <% @test.questions.each_with_index do |question, i| %>
      <div class="mb-4">
        <h6 class="card-title"><%= "#{i + 1}. #{question.body}" %></h6>
        <%= link_to "Show", admin_test_question_path(@test, question), class: "btn btn-outline-primary btn-sm" %>
        <%= link_to t('nav_buttons.edit'), edit_admin_test_question_path(@test, question), class: "btn btn-outline-primary btn-sm" %>
        <%= link_to "Add answer", new_admin_test_question_answer_path(@test, question), class: "btn btn-outline-primary btn-sm" %>
        
        

      </div>
    <% end %>
  </div>
</div>

<div class="mt-2">
  <%= link_to t('nav_buttons.back'), admin_tests_path, class: "btn btn-primary " %>
</div>
