<p>
  <strong> Test: </strong>
  <%= @test.title %>
</p>

<p>
  <strong> Level: </strong>
  <%= @test.level %>
</p>

<p>
  <strong> Test question(s): <%= @test.questions.count %></strong>
  <% @test.questions.each_with_index do |question, i| %>
  <br><%= "#{i + 1}. #{question.body}" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>